!!!
%html{ :lang => "en" }

  %head
    %meta{ "charset" => "UTF-8" }
    %title= @item[:has_full_title] ? @item[:title] : "SeqWare &rsaquo; #{@item[:title]}"
    %meta{ :name => "generator", :content => "nanoc #{Nanoc::VERSION}" }
    %link{ :rel => "stylesheet", :href => item_named('/assets/style/screen/').path, :type => "text/css", :media => "screen" }
    %link{ :rel => "alternate", :type => "application/atom+xml", :title => "The SeqWare Blog", :href => "http://feeds.feedburner.com/seqware" }
    = %Q[<script type="text/javascript"> var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-34523087-1']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); </script>]
    - if @item.identifier !~ %r[^/\w+]
      <a href="https://github.com/organizations/SeqWare"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>

  %body
    .wrapper

      / ***** navigation *****
      .nav
        %ol
          = nav_item_for('/',           :include_children => false)
          = nav_item_for('/blog/',      :include_children => false)
          = nav_item_for('/docs/',      :include_children => false)
          = nav_item_for('/community/', :include_children => false)
          = nav_item_for('/partners/', :include_children => false)
          = nav_item_for('/about/', :include_children => false)

      / ***** sidebar *****
      .side

        - if @item.identifier =~ %r[^/docs/]

          %ol
            = nav_item_for('/docs/1-introduction/'     )
            = nav_item_for('/docs/2-installation/'     )
            = nav_item_for('/docs/3-getting-started/'  )
            = nav_item_for('/docs/4-metadb/'   )
            = nav_item_for('/docs/5-portal/')
            = nav_item_for('/docs/6-pipeline/'           )
            = nav_item_for('/docs/7-web-service/'           )
            = nav_item_for('/docs/8-query-engine/'           )
            = nav_item_for('/docs/9-glossary/'         )
            = nav_item_for('/docs/10-faq/'              )
            = nav_item_for('/docs/11-api/'              )
            = nav_item_for('/docs/13-code/'              )
            = nav_item_for('/docs/17-plugins/'              )

        - elsif @item.identifier =~ %r[^/blog/]

          %ol
            = nav_item_for('/blog/13/')
            = nav_item_for('/blog/12/')

        - else

          .section.odd
            = %Q[<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script><script> new TWTR.Widget({   version: 2,   type: 'profile',   rpp: 4,   interval: 30000,   width: 250,   height: 370,   theme: {     shell: {       background: '#daebff',       color: '#153b66'     },     tweets: {       background: '#daebff',       color: '#000000',       links: '#153b66'     }   },   features: {     scrollbar: false,     loop: false,     live: true,     behavior: 'all'   } }).render().setUser('seqware').start(); </script>] 

          - if @item.identifier != '/release-notes/'
            .section.even
              
              %p= 'The current version of SeqWare is ' + latest_release_info[:version] + ', released on ' + latest_release_info[:date].format_as_date + '. See the <a href="/release-notes/">release notes</a> for details.'


      / ***** body *****
      .body
        - if @item[:raw_layout]
          = yield
        - else
          .article
            .header
              %h1= @item[:short_title] || @item[:title]
            = yield

    / ***** footer *****
    #footer
      %p SeqWare &copy; 2007–2012 Brian O'Connor. SeqWare is released under the a <a rel="license" href="http://www.gnu.org/licenses/licenses.html">GNU GPL v3</a>. This site is built using the excellent <a href="http://nanoc.stoneship.org/">nanoc</a> tool and example site along with the <a href="http://www.fonts.info/info/press/free-fonts-for-font-face-embedding.htm">Graublau</a> and <a href="http://scripts.sil.org/Gentium">Gentium</a> fonts.
